<ng-template #content let-modal>
	<div>
		<div class="modal-header text-center">
			<h4 class="modal-title w-100">Create Project</h4>
		</div>
		<div class="modal-body">
			<form class="was-validated mt-3" [formGroup]="projectForm">
				<div class="form-group row">
					<label for="projName" class="col-sm-3 col-form-label">Name</label>
					<div class="col-sm-9">
						<input type="text" class="form-control form-control-sm" id="projName" placeholder="Project name"
									 formControlName="projectName" required>
					</div>
				</div>
				<div class="form-group row mt-2">
					<label for="imageDataset" class="col-sm-3 col-form-label">Image dataset</label>
					<div class="col-sm-9">
						<div class="input-group input-group-sm custom-file-button">
							<label class="input-group-text" for="imageDataset">Choose folder</label>
							<input type="text" class="form-control form-control-sm" id="imageDataset" (click)="folderSelection($event)"
										 formControlName="datasetPath" required readonly>
						</div>
					</div>
				</div>

				<div class="form-group row mt-2">
					<label for="projectPath" class="col-sm-3 col-form-label">Project location</label>
					<div class="col-sm-9">
							<div class="input-group input-group-sm custom-file-button">
								<label class="input-group-text" for="projectPath">Choose folder</label>
								<input type="text" class="form-control form-control-sm" id="projectPath" (click)="folderSelection($event, true)"
											 formControlName="projectPath" required readonly>
							</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-success btn-sm">Create</button>
			<button type="button" class="btn btn-secondary btn-sm" (click)="cancel()">Cancel</button>
		</div>
	</div>
</ng-template>