  <!-- <h5>Board</h5> -->
  <div class="card text-center h-100">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" id="assembling-tabs"
        onWheel="this.scrollLeft+=event.deltaY>0?100:-100">
        <li class="nav-item" id="assembling-tab-template" style="display: none;">
          <a class="nav-link" role="tab" href="#">Assembling image n1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="tab" href="#" onclick="createAssembling()">+</a>
        </li>
      </ul>
    </div>
    <div class="card-body h-100 overflow-auto" id="board">
    </div>
  </div>