#assembling-tabs {
    max-width: 100%;
    display: block !important;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    text-align: left;
    flex-wrap: nowrap;
}

#assembling-tabs::-webkit-scrollbar {
    display: none;
}

#assembling-tabs .nav-item {
    display: inline-block;
}

.card-header-tabs {
    margin-bottom: -.54rem !important;
}

#activated-image {
    box-shadow: rgb(31, 193, 27) 0 0 0 2px;
}