<form>
	<div class="mb-3">
		<input class="form-control form-control-sm mb-1" placeholder="Filter images" [formControl]="filter" (keyup)="getThumbnails()">
		<select class="form-control form-control-sm" [formControl]="category" (change)="getThumbnails()">
			<option *ngFor="let category of categories" [selected]="category.isActivated" value="{{category.id}}">{{category.name}}</option>
		</select>
	</div>
</form>

<div class="container">
	<app-thumbnail *ngFor="let thumbnail of thumbnails" [thumbnail]="thumbnail"></app-thumbnail>
</div>