// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
  
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* width */
  ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #bec4c4;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #555;
  }

.custom-file-button input {
  margin-left: -2px !important;
  cursor: pointer;
}

.custom-file-button:hover label {
  background-color: #dde0e3;
  cursor: pointer;
}