  <div class="card text-center sidebar-content h-100" id="thumbnail-container">
		<div class="card-header">
			<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-tabs card-header-tabs thumbnail-tabs" [destroyOnHide]="false">
				<li [ngbNavItem]="1" class="nav-item">
					<a ngbNavLink>Images</a>
					<ng-template ngbNavContent>
						<form>
							<div class="mb-3">
								<select class="form-control form-control-sm mb-1" [formControl]="category" (change)="getThumbnails()">
									<option *ngFor="let category of categories" [selected]="category.isActivated" value="{{category.id}}">{{category.name}}</option>
								</select>
								<input class="form-control form-control-sm" placeholder="Filter images" [formControl]="filter" (keyup)="getThumbnails()">
							</div>
						</form>

						<div id="thumbnail-images" class="container">
							<app-thumbnail *ngFor="let thumbnail of thumbnails" [thumbnail]="thumbnail"></app-thumbnail>
						</div>
					</ng-template>
				</li>
				<li [ngbNavItem]="2" class="nav-item">
					<a ngbNavLink>Similarity</a>
					<ng-template ngbNavContent>
						<p>
							Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
							farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
							ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
							helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
							8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
							stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
						</p>
					</ng-template>
				</li>
			</ul>
		</div>
		<div class="card-body h-100 overflow-auto" #scrollContainer style="padding: 1.25rem .5rem 0 .5rem;" (scroll)="onScroll()">
			<div class="tab-content h-100" [ngbNavOutlet]="nav">
			</div>
		</div>
<!--    <div class="card-header">-->
<!--      <ul class="nav nav-tabs card-header-tabs thumbnail-tabs">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" href="#thumbnails" role="tab" aria-controls="thumbnails"-->
<!--            aria-selected="true">Images</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#similarity" role="tab" aria-controls="similarity"-->
<!--            aria-selected="false">Similarity</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="card-body h-100" style="padding: 1.25rem .5rem 0 .5rem;">-->
<!--      <div class="tab-content h-100">-->
<!--        <div class="tab-pane active h-100 overflow-auto" id="thumbnails" role="tabpanel">-->
<!--          <form>-->
<!--            <div class="mb-3">-->
<!--              <select class="form-control form-control-sm mb-1" id="root-dirs" onchange="loadThumbnails()">-->
<!--              </select>-->
<!--              <input class="form-control form-control-sm" id="thumbnail-filter" placeholder="Filter images">-->
<!--            </div>-->
<!--          </form>-->

<!--          <div id="thumbnail-images" class="container">-->

<!--          </div>-->
<!--        </div>-->


<!--        <div class="tab-pane h-100 overflow-auto" id="similarity" role="tabpanel">-->
<!--          <form>-->
<!--            <div class="form-group" id="no-similarity">-->
<!--              <label>No similarity matrix found!</label>-->

<!--              <button type="button" class="btn btn-success btn-sm me-2" onclick="selectSimilarityMatrix()">Select a-->
<!--                file</button>-->
<!--            </div>-->
<!--            <div id="has-similarity" style="flex-direction: column;">-->

<!--              <select class="form-control form-control-sm mb-1" id="sim-root-dirs" onchange="loadSearchResults()">-->
<!--              </select>-->
<!--              <div class="input-group input-group-sm mb-3" title="Matching name">-->
<!--                <div class="input-group-prepend">-->
<!--                  <div class="input-group-text"><i class="fa-solid fa-arrow-down-wide-short"></i></div>-->
<!--                </div>-->
<!--                <input type="text" class="form-control form-control-sm" id="matching-name" readonly>-->
<!--                <div class="input-group-append">-->
<!--                  <div class="input-group-text" role='button' onclick="removeMatching()"><i-->
<!--                      class="fa-solid fa-close text-danger"></i></div>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->

<!--            <div class="container">-->
<!--              <figure class="figure row" id="matching-query" style="display: none;">-->
<!--                <img src="..." class="figure-img img-fluid img-thumbnail">-->
<!--                <figcaption class="figure-caption">A caption for the above image.</figcaption>-->
<!--              </figure>-->
<!--            </div>-->
<!--            <div id="matched-results" class="container">-->

<!--            </div>-->

<!--            <figure class="figure row" id="matching-result-template" style="display: none;">-->
<!--              <img src="..." class="figure-img img-fluid img-thumbnail">-->
<!--              <figcaption class="figure-caption">A caption for the above image.</figcaption>-->
<!--            </figure>-->
<!--          </form>-->

<!--          <figure class="figure row" id="thumbnail-template" style="display: none;">-->
<!--            <img src="..." class="figure-img img-fluid img-thumbnail">-->
<!--            <figcaption class="figure-caption">A caption for the above image.</figcaption>-->
<!--          </figure>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>