body {
    background-color: #343a40; /* Dark background color */
    color: #fff; /* Light text color */
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
}

h1 {
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.recent-projects {
    margin-top: 20px;
    height: 300px;
    overflow-y: auto;
}

.recent-projects h2 {
    font-size: 24px;
    margin-bottom: 10px;
}


.table-dark td, .table-dark th, .table-dark thead th {
    border-top: none;
    border-bottom: 1px solid;
    border-color: #454d55;
}