html,
body {
    margin: 0;
}

#activated-image {
    box-shadow: rgb(31, 193, 27) 0px 0px 0px 2px;
}

#board {
    position: relative;
}


#board img {
    position: absolute;
    top: 10px;
    left: 10px;
}

#thumbnail-container figcaption {
    max-width: 250px;
}

#thumbnail-container img {
    max-height: 200px;
    max-width: 200px;
}

.card-header {
    padding: 0.5rem 1.25rem 0.75rem 1.25rem !important;
}

.nav-link {
    padding: .3rem 1rem .3rem 1rem !important;
    color: #495057;
    position: relative;
}

.nav-link span {
    font-size: x-small;
    position: absolute;
    top: 25%;
    right: 9px;
}

.nav-link .saved {
    color: forestgreen;
}

.nav-link .unsaved {
    color: red;
}

figure .img-thumbnail {
    border: none;
    margin-bottom: 0rem;
}

figcaption {
    margin-top: 0.5rem;
    border-top: 1px solid #dee2e6;
    text-align: left;
    text-indent: 5px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

.figure {
    border: 1px solid #dee2e6;
    cursor: pointer;
    border-radius: 0.25rem;
}

.thumbnail-tabs {
    display: flex;
    flex-direction: row;
}

.thumbnail-tabs .nav-item {
    flex: 1 1 auto;
}

.assembling-tab {
    padding: 0.3rem 1.3rem 0.3rem 1rem !important;
}

#matching-query {
    border: 1px solid green;
}

.sidebar {
    flex: 0 0 20%;
}

#assembling-tabs {
    max-width: 100%;
    display: block !important;
    white-space: nowrap;
    /* overflow-y: hidden; */
    overflow-x: scroll;
    text-align: left;
    flex-wrap: nowrap;
}

#assembling-tabs .nav-item {
    display: inline-block;
}